.buttons{
  width: 90%;
  height: 90%;
  border: 1px solid black;
  background-color: green;
  color: yellow;
  margin: 5%;
  box-shadow: 3px 3px rgb(1, 109, 1);
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px greenyellow;
}