.container2{
  flex: 1;
  width: 100%;
}
.screen{
  width: 80%;
  height: 20%;
  border: 5px solid blue;
  margin: auto;
  background-color: rgb(25, 25, 253);
  color: antiquewhite;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}